.my-container {
    overflow-y: scroll;
    scrollbar-width: none;
  }
  
  .my-container::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge */
body {
  -ms-overflow-style: none;
}