@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Edge */
/* ::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar for Firefox */
/* html {
  scrollbar-width: none;
} */

/* Hide scrollbar for IE, Edge */
/* body {
  -ms-overflow-style: none;
} */



*{
  scrollbar-width: thin;
  scrollbar-color: #888 #333;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar{
 width: 8px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
